<a href="https://colab.research.google.com/github/RuchiRaina3/Baby-Cry-Project/blob/main/Features%20Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### For Naive Bayes Model, features extracted are:


*   **rms energy:** Root Mean Square of energy is equals to sqrt(sum(energy**2))/len(energy))
*   **zcr:** Zero Cross Rate is the rate at which a signal changes from positive to zero to negative or from negative to zero to positive. In simpler words, it's the rate at which the signal passes through the origin.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import librosa
import math

In [ ]:
FRAME_LENGTH=1024  #Number of samples in one frame
HOP_LENGTH=FRAME_LENGTH  #It is the step size for range function
energy_list=[]  #List to store energy of each audio file
zcr_list=[]     #List to store zcr of each audio file
label_list = [] #List to store label of each audio file

In [ ]:
def featuresExtraction(path,label):
  files = librosa.util.find_files(path)

  for file in files:
    audio,sr = librosa.load(file)
    
    shape_of_energy = (len(audio)//FRAME_LENGTH) + 1
    energy = np.zeros(shape_of_energy)
    frame = 0
    
    for i in range (0, len(audio), HOP_LENGTH):
      energy[frame]=(sum(audio[i : i + FRAME_LENGTH]**2))  #Energy of a frame = sum of the square of samples of that frame
      frame = frame + 1
    rms_of_energy = math.sqrt((sum(energy**2))/len(energy))
    zcr = sum(librosa.zero_crossings(audio))
    energy_list.append(rms_of_energy)
    zcr_list.append(zcr)
    label_list.append(label)

In [ ]:
featuresExtraction('/content/drive/MyDrive/Baby Cry Project/Cry Clips/bellypain',1)
featuresExtraction('/content/drive/MyDrive/Baby Cry Project/Cry Clips/burping',2)
featuresExtraction('/content/drive/MyDrive/Baby Cry Project/Cry Clips/discomfort',3)
featuresExtraction('/content/drive/MyDrive/Baby Cry Project/Cry Clips/hungry',4)
featuresExtraction('/content/drive/MyDrive/Baby Cry Project/Cry Clips/tired',5)

### DataFrame Creation

In [ ]:
list_df = list(zip(energy_list,zcr_list,label_list))
df=pd.DataFrame(list_df,columns=['Energy','ZCR','Label'])

display(df)

       Energy    ZCR  Label
0    0.191338   4252      1
1    0.085532   4537      1
2    1.411783   6746      1
3    0.003414   4653      1
4    0.746864   5554      1
..        ...    ...    ...
395  0.001969   9522      5
396  0.001110  10327      5
397  0.337169   7599      5
398  0.001465  10502      5
399  0.147398   7569      5

[400 rows x 3 columns]

### DataFrame To Excel Sheet

In [ ]:
df.to_excel("/content/drive/MyDrive/Baby Cry Project/Data.xlsx")

### Creating Training Data

In [ ]:
train_df = df
train_df = train_df.drop(range(0,15))
train_df = train_df.drop(range(80,95))
train_df = train_df.drop(range(160,175))
train_df = train_df.drop(range(240,255))
train_df = train_df.drop(range(320,335))
train_df.to_excel("/content/drive/MyDrive/Baby Cry Project/Train Data.xlsx")

In [ ]:
display(train_df)

       Energy    ZCR  Label
15   2.193834   5156      1
16   0.638413   5507      1
17   1.733535   5463      1
18   1.206897   5043      1
19   1.226826   3872      1
..        ...    ...    ...
395  0.001969   9522      5
396  0.001110  10327      5
397  0.337169   7599      5
398  0.001465  10502      5
399  0.147398   7569      5

[325 rows x 3 columns]

### Creating Testing Data

In [ ]:
test_df = df
test_df = test_df.drop(range(15,80))
test_df = test_df.drop(range(95,160))
test_df = test_df.drop(range(175,240))
test_df = test_df.drop(range(255,320))
test_df = test_df.drop(range(335,400))
test_df.to_excel("/content/drive/MyDrive/Baby Cry Project/Test Data.xlsx")

In [ ]:
display(test_df)

       Energy   ZCR  Label
0    0.191338  4252      1
1    0.085532  4537      1
2    1.411783  6746      1
3    0.003414  4653      1
4    0.746864  5554      1
..        ...   ...    ...
330  0.146051  5433      5
331  0.060981  5647      5
332  0.162560  5332      5
333  0.100206  5000      5
334  0.056016  5500      5

[75 rows x 3 columns]